  /* social links: individual links */
  .about-entity .about-link {
    border: none !important;
    font-size: 1.1em !important; 
    column-gap: 0em !important;
    padding: 0.1em 0.1em !important; 
  }