  /* social links: individual links */
  .about-entity .about-link {
    border: none !important;
    font-size: 1.2em !important; 
    column-gap: 0em !important;
    padding: 0.0em 0.5em !important; 
  }